<div class="row">
  <span>Search by Name: </span>
  <input type="text" placeholder="Name" value="" (input)="search($event)" />
  <button type="button" class="btn btn-primary" (click)="resetBalance()">Reset Balance</button>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th (click)="sort('name')" scope="col">Name</th>
        <th (click)="sort('age')" scope="col">Age</th>
        <th (click)="sort('registered')" scope="col">Registered Date</th>
        <th (click)="sort('email')" scope="col">Email</th>
        <th (click)="sort('balance')" scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource">
        <td>{{ item.name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.registered | date:'dd-MM-yyyy hh:mm:ss' }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.balance | currency :'GBP':'symbol':'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>
